@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 };



@font-face {
  font-family: 'Pacifico';
  src: url('./assets/Pacifico/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* --color-primary: #0A2A43; */
  --color-primary: #3B1E54;
  --color-hover1: #09324E;
  --color-secondary: #28C7DB;
  --color-hover2: #1FA7B8;
  --color-text: #FFFFFF;
}

@plugin "daisyui/theme" {
  name: "swap";
  --color-primary: #3B1E54;   
  --color-secondary: #A3D0F7;
  --color-text: #FFFFFF;
}

@theme {
  --font-pacifico: "Pacifico", cursive;
  --font-ubuntu: "Ubuntu", sans-serif;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

a.active {
  color: #0A2A43;
  text-decoration: underline;
}