@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 };

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0A2A43;
  --color-hover1: #09324E;
  --color-secondary: #28C7DB;
  --color-hover2: #1FA7B8;
  --color-text: #FFFFFF;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

a.active {
  color: #0A2A43;
  text-decoration: underline;
}